<% provide(:title, "Log in") %> 


<br> 
<br> 
<h1>Log in</h1>
<br> 
<br>

    
    <div class = "col-md-12">    
    <%= form_for(:session , url: login_path) do |f| %>  
    <div class = "row">
    <div class="form-group mb-2">
      <%= f.label :email ,"Email", class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.email_field :email, class: 'form-control',
        placeholder: "Enter your username" %> 
      </div>
    </div>
    </div>

    <div class = "row"> 
    <div class="form-group mb-2">
      <%= f.label :password ,"Password", class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.password_field :password, class: 'form-control', 
        placeholder: "Enter your password" %>  
      </div>
    </div>
    </div>
    
    <div class = "row">
      <div class = "col-md-6 remember-me" style = "float: left;"> 
        <%= f.label :remember_me, class:"checkbox inline" do %>
        <%= f.check_box :remember_me%>
        <span>Remember me</span>
        <% end %>
      </div>
      <div class = "col-md-3 custom_link"  style = "padding-bottom:10px;">
      <%= link_to "forgot password?", new_password_reset_path %>
      </div>
    </div>
   
   <div class = "row">
    <div class = "col-md-10" style = "float: right;">    
    <%= f.submit "Login", class: "btn btn-success"%> 
    </div> 
    </div> 
    <% end %>  
   <div class = "row">
    <p class = "col-md-3 custom_link">
     <br>
      <%= link_to "register", signup_path %>  <br><br> </p>    
   </div> 
    </div>  

 
