   
            <%= render'shared/setting_error' %>
            <%= form_for(current_user)  do |f| %>
            <div class="input-group mb-3" style="margin-bottom: 25px;margin-top: 25px;">
                <div class="input-group-addon">
                    <span class="input-group-text">New password</span>
                </div>
                <%= f.password_field :password,  class: 'form-control', placeholder: 'Enter new password',:required => true %>  
            </div>

            <div class="input-group mb-3" style="margin-bottom: 25px;">
                <div class="input-group-addon">
                    <span class="input-group-text">Confirm password</span>
                </div>
                <%= f.password_field :password_confirmation,  class: 'form-control', placeholder: 'Confirm your password',:required => true %>  
            </div>


            <div class="row">
                <div class="form-group">
                <div class="col-sm-2">
                <%= f.submit "Confirm" ,class: 'btn btn-success'%>
                </div>
                </div>
            </div>
            <% end %> 