<% provide(:title, "My setting") %> 
<body class="setting-body">

<div class="container-fluid"  style="height: 80vh">
<div class="row" style="height: 80vh">
  
        <div class="col-sm-3 sidenav">

            <div class="row post-title"><i class="glyphicon glyphicon-send" style="font-size:25px;margin-right:10px"></i>
            <a href="#about">My Profile</a>
            </div>
            
            <div class="row post-title"><i class="glyphicon glyphicon-user" style="font-size:25px;margin-right:10px"></i>
            <a href="#about">My Posts</a>
            </div>
            
            <div class="row post-title"><i class="glyphicon glyphicon-comment" style="font-size:25px;margin-right:10px"></i>
            <a href="#about">My Comments</a>
            </div>
           
            <div class="row post-title"><i class="glyphicon glyphicon-ok" style="font-size:25px;margin-right:10px"></i>
            <a href="#about">Comments to me</a>
            </div>

            <div class="row post-title"><i class="glyphicon glyphicon-cog" style="font-size:25px;margin-right:10px"></i>
            <a href="#about">Setting</a>
            </div>
            

        </div>
 



    <div class="col-sm-8 main-setting">
    <div class="container-fluid" style="margin:20px;">
            <div class="container-fluid nav-cover">
            <div class="main-nav">
                <a href="#">Personal Info</a>
                <a href="#">Avatar</a>
                <a href="#">Password</a>
                <a href="#">Verification</a>
            </div>
            </div>
            <div class="container-fluid setting-info">
            You can modify your contact detail below
            </div>
            <%= render'shared/setting_error' %>
            <%= form_for(current_user)  do |f| %>
            <div class="input-group mb-3" style="margin-bottom: 25px;margin-top: 25px;">
                <div class="input-group-addon">
                    <span class="input-group-text">Username</span>
                </div>
                <%= f.text_field :name,  class: 'form-control', placeholder: current_user.name %>  
            </div>

            <div class="input-group mb-3" style="margin-bottom: 25px;">
                <div class="input-group-addon">
                    <span class="input-group-text">Email</span>
                </div>
                <%= f.text_field :email,  class: 'form-control', placeholder: current_user.email %>  
            </div>

            <div class="input-group mb-3" style="margin-bottom: 25px;">
                <div class="input-group-addon">
                    <span class="input-group-text">Mobile</span>
                </div>
                <%= f.text_field :mobile,  class: 'form-control', placeholder: current_user.mobile %>  
            </div>

            <div class="input-group mb-3" style="margin-bottom: 25px;">
                <div class="input-group-addon">
                    <span class="input-group-text">City</span>
                </div>
                <%= f.text_field :city,  class: 'form-control', placeholder: current_user.city %>  
            </div>

            <div class="form-group"> 
            <div class="input-group-addon" style="border-right:1px solid #ccc;border-bottom:0;border-top-right-radius:4px;">
                    <span class="input-group-text" style="float:left">Personal Introduction</span>
            </div> 
            <%= f.text_area :bio,  class: 'form-control', :rows => 5, placeholder: 'Leave your personal bio here' %>  
            <%= current_user.id%>
            </div>

            <div class="row">
                <div class="form-group">
                <div class="col-sm-2">
                <%= f.submit "Confirm" ,class: 'btn btn-success'%>
                </div>
                </div>
            </div>
             <% end %>  
    </div>
    </div>







</div>

 </div>   
</body>   
