<div class="col-sm-12">
<p>
  <h4 class="card-title">My comments</h4>
  <% if @my_comments.exists? %>
  <% @my_comments.each do |comment| %>
      <div class="well" style="margin-bottom:5px;" >
        <div class="media">
          <div class="media-body">
            <div class="col-sm-8">
            <h4 class="media-heading long-title"> You commented  "<%= raw comment.content %>"</h4>
            <h4 class="media-heading long-title">to <%= link_to get_post(comment.post_id).title, get_post(comment.post_id), class:"custom-highlight" %></h4>
            
              </div>
              <div class="col-sm-2" style="float:right">
                <i class="glyphicon glyphicon-calendar"></i>
                <%= comment.created_at %>
                <span class="post-span-time" style="float:right" ><%= link_to "Delete", comment, method: "delete",
                                                                       data: { confirm: "You sure?"} %></span>
              </div>
          </div>
        </div>
      </div>
  <% end %> 
  <% else %>
  <h1>You do not comment to any post yet</h1>
  <% end %>
  <%= will_paginate @my_comments %>
 </p> 
</div>
<div class="col-sm-12">
<p>
  <h4 class="card-title">My comments to someone comments</h4>
  <% if @my_comments_to_comments.exists? %>
  <% @my_comments_to_comments.each do |comment| %>
      <div class="well" style="margin-bottom:5px;" >
        <div class="media">
          <div class="media-body">
              <div class="col-sm-8">
                <h4 class="media-heading long-title">You commented "<%= raw comment.content %>"</h4>
                <h4 class="media-heading long-title">to "<%= raw get_comment(comment.comment_id).content %>"</h4>
                <h4 class="media-heading long-title">in <%= link_to get_post(get_comment(comment.comment_id).post_id).title, get_post(get_comment(comment.comment_id).post_id), class:"custom-highlight" %></h4>
              </div>
              <div class="col-sm-2" style="float:right">
                <i class="glyphicon glyphicon-calendar"></i>
                <%= comment.created_at %>
                 <span class="post-span-time" style="float:right" ><%= link_to "Delete", comment, method: "delete",
                                                                       data: { confirm: "You sure?"} %></span>
              </div>
          </div>
        </div>
      </div>
  <% end %> 
   <% else %>
  <h1>You do not comment to any comments yet</h1>
  <% end %>
  <%= will_paginate @my_comments_to_comments %>
 </p> 
</div>