<% provide(:title , "Home") %>
<div class="col-sm-8" style="margin-top:25px;">
  <div class="row">
    <div class="col-sm-12">
    <ul class="list-group list-group-horizontal-sm">
      <li class="list-group-item active" id="RecentPost"><%= link_to "Recent Post" ,  clear_topic_path , onclick: "select_opt(this)", remote: true %></li>
      <li class="list-group-item" id="SelectedPost"><%= link_to "Selected Post",   selected_topic_path ,  onclick: "select_opt(this)",remote: true %></li>
      <% if logged_in? %> 
      <li class="list-group-item" id="MySetting"><%= link_to "My Setting", setting_path %></li>
      <%end%>
      <li class="list-group-button"><%= link_to "New Post",   '/newpost' , class:"btn btn-success", style:"float:right"%></li>
      <%= form_tag(search_path, :method => 'get', class:'form-inline d-flex justify-content-center md-form form-sm mt-0') do%>
      <li class="list-group-input"> <%= search_field_tag :search, params[:keyword] , class:"form-control",
        placeholder: "Search"%>  </li>
      <%end%>
      
    </ul>
  </div>
</div>
<div class="row">
    <div id="posts-list">
      <%= render partial: 'layouts/posts' , locals: { posts: @posts} %>
    </div>
</div>
</div>

<div class="col-sm-4" style="margin-bottom: 50px">
  
   <%= render partial:'layouts/sidebar' %>

</div>
 