<%= form_for(Comment.new) do |f| %>
<div class="form-group">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.text_area :content,  class: 'form-control', :rows => 12, placeholder: 'Enter comment content here'  , class: "tinymce"%>  
</div>
<div class="row">
    <div class="col-sm-2">
      <%= f.submit "Comment" ,class: 'btn btn-success'%>
    </div>
</div>
    
<%end%>