<% provide(:title ,@post.title) %>
<br>
<h1>Post</h1>
<br>

<div class="input-group">
  

    <%= form_for(Post.new) do |f| %>
    <div class="form-group mb-2">
        <%= f.label :topic_id, class:"col-sm-2 col-form-label" %>
        <%= f.collection_select :topic_id, Topic.all,:id,:name, class: "form-control" %>  
    </div>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <div class="form-group mb-2">
      <%= f.label :title, class:"col-sm-2 col-form-label" %>
        <%= f.text_field :title,  class: "form-control" %>  
    </div>

    <div class="form-group mb-2">
        <%= f.label :content, class:"col-sm-2 col-form-label" %>
        <%= f.text_field :content,  class: "form-control" %>  
    </div>


    <div class = "col-md-10" style = "float: right;">
      <%= f.submit "Post" ,class: "btn btn-success" %>
    </div>
    <% end %>
</div>