<% provide(:title ,"New post") %>
<script src="https://cdn.tiny.cloud/1/jv89sv6fzlfpijx5yiqoro3lhwdhjzcrdmodnd2f1d47qhcx/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
 <script>
   $(document).on('turbolinks:load', function () {
   tinymce.remove();
     tinymce.init({
     selector: '.tinymce',
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
       toolbar: 'undo redo | formatselect | ' +
       ' bold italic backcolor | alignleft aligncenter ' +
       ' alignright alignjustify | bullist numlist outdent indent | ' +
       ' removeformat | help'
   });
});

 </script>
<div class="post-container">

<h5 class="post-title">Post</h5>


    <%= render'shared/post_error' %>

    <%= form_for(@post) do |f| %>
    <div class="input-group mb-3" style="margin-bottom: 25px;">
        <div class="input-group-addon">
          <span class="input-group-text">Topic</span>
        </div>
        <%= f.collection_select :topic_id, Topic.all,:id,:name,{}, {class: "form-control"} %>  
    </div>

    <div class="input-group mb-3" style="margin-bottom: 25px;">
        <div class="input-group-addon">
          <span class="input-group-text">Title</span>
        </div>
        <%= f.text_field :title,  class: 'form-control', placeholder: 'Enter post title here' %>  
    </div>

    <div class="form-group">  
    <div class="image-upload">
        <label for="file-input">
         <span class="glyphicon glyphicon-picture"></span>
        </label>
        <%= f.file_field :picture, id:"file-input" ,accept:'image/jpeg,image/gif,image/png'%></i>
    </div>
    <%= f.text_area :content, placeholder: 'Enter post content here', class: "tinymce" %>
        
    </div>

    <div class="row">
      <div class="form-group">
      <div class="col-sm-2">
      <%= f.submit "Post" ,class: 'btn btn-success'%>
      </div>
      <div class="col-sm-2">
      <a href = "/index", class="btn btn-light">Cancel</a>
      </div>
      </div>
    </div>

    
    <% end %>
</div>
</div>

<script type="text/javascript">
  $('#file-input').bind('change',function() {varsize_in_megabytes=this.files[0].size/1024/1024;
  if(size_in_megabytes>5) {
    alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });



</script>