<% provide(:title ,"New post") %>
<div class="post-container">

<h5 class="post-title">Post</h5>


    <%= render'shared/post_error' %>

    <%= form_for(@post) do |f| %>
    <div class="input-group mb-3" style="margin-bottom: 25px;">
        <div class="input-group-addon">
          <span class="input-group-text">Topic</span>
        </div>
        <%= f.collection_select :topic_id, Topic.all,:id,:name,{}, {class: "form-control"} %>  
    </div>

    <%= f.hidden_field :user_id, :value => @user.id %>
    <div class="input-group mb-3" style="margin-bottom: 25px;">
        <div class="input-group-addon">
          <span class="input-group-text">Title</span>
        </div>
        <%= f.text_field :title,  class: 'form-control', placeholder: 'Enter post title here' %>  
    </div>

    <div class="form-group">  
    <div class="image-upload">
        <label for="file-input">
         <span class="glyphicon glyphicon-picture"></span>
        </label>
        <%= f.file_field :picture, id:"file-input"%></i>
    </div>
        <%= f.text_area :content,  class: 'form-control', :rows => 12, placeholder: 'Enter post content here' %>  
    </div>

    <div class="row">
      <div class="form-group">
      <div class="col-sm-2">
      <%= f.submit "Post" ,class: 'btn btn-success'%>
      </div>
      <div class="col-sm-2">
      <a href = "/index", class="btn btn-light">Cancel</a>
      </div>
      </div>
    </div>
    <% end %>
</div>
</div>