<header class="navbar navbar-fixed-top navbar-inverse">

<%= link_to "Ruby Forums", '/index', id: "logo",style:"margin-left:10px;" %>
<nav>
  <ul class="nav navbar-nav navbar-left">
    <%@home_class || @home_class = "nav-link active" %>
    <li ><%= link_to "Home",   '/index',class:@home_class %></li>
    <li class = "dropdown" id="topic_select"><a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">  
      News <b class = "caret"></b> 
    </a>  
    <ul class = "dropdown-menu">  
    <% Topic.ordered.each do |topic| %>
      <li><%= link_to topic.name, index_path(:topic_id => topic.id), remote: true, onclick:"selevt_nav_item()" %></li> 
    <%end%>
    </ul> 
   </li> 

    <% if logged_in? %> 
    <li><%= link_to current_user.name, current_user, class: @user_class %></li> 
    </ul>
   <ul class="nav navbar-nav navbar-right">
   <li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" style="padding-bottom: 0 !important;padding-top: 5px !important"> 
    <%= image_tag get_avatar(current_user), style: 'border-radius: 50%;height:40px;width:40px;margin-right:50px'%>
    </a>  
    <ul class = "dropdown-menu">  
    <li><%= link_to "Profile", current_user %></li> 
    <li><%= link_to "Settings", '#' %></li> 
    <li class = "divider"></li> 
    <li><%= link_to "Log out", logout_path, method: :delete%></li>  
    </ul> 
  </li> 
  <% else %> 
   </ul> 
   <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Log in", login_path %></li>  
   </ul>
  <% end% %>
  </ul>
</nav>

</header>