
 <div class="col-sm-12">
<p>
  <% posts.each do |post| %>
  
      <div class="well" style="margin-bottom:5px;" >
        <div class="media">
  
        <%= link_to get_user(post.user_id), class:"pull-left" do %>
    		  <%= image_tag get_avatar(get_user(post.user_id)) %>
  		  <%end%>
          <div class="media-body">
            <h4 class="media-heading long-title"><%= link_to post.title, post, class:"custom-highlight" %></h3>
            <p class="text-right">
              <i class="glyphicon glyphicon-user"></i>
              <%= link_to get_user(post.user_id).name, get_user(post.user_id), class:"custom-highlight" %>
            </p>
            <ul class="list-inline list-unstyled">
              <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <%= post.created_at %>
              </li>
               |
              <li>
                <i class="glyphicon glyphicon-fire"></i>
                <%= getTopic(post.topic_id) %>
              </li>
               |
              <li>
                <i class="glyphicon glyphicon-eye-open"></i>
                <%= post.viewed %>
              </li>
            </ul>
          </div>
        </div>
      </div>
  <% end %> 
 </p> 
 <p>
</div>