<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Ruby Forums</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.tiny.cloud/1/jv89sv6fzlfpijx5yiqoro3lhwdhjzcrdmodnd2f1d47qhcx/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <%= render 'layouts/shim' %>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
  <%= render 'layouts/header' %>
   
    
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
      
    
    <%# Render Post here %>
    <%= yield %>
    

     
     
      <%= render 'layouts/footer' %>
     
      
  
  </body>
</html>
